.table-css-partner .thead-dark th:nth-child(2) {
    width: 500px;
    /* #d2d2d2 */
}

.table-hover-css:hover {
    background-color: rgba(0, 0, 0, .075);
}

.css-button-partner button {
    margin: 0;
}

.css-icon-button-partner {
    color: #fff;
    /* background: rgba(0, 0, 0, 0.5); */
    background-color: #d9001b;
    height: 20px;
    padding: 0;
    margin: auto;
    width: 20px;
    margin: auto;
    line-height: 20px;
    border-radius: 0;
    /* border-color: rgba(0, 0, 0, 0.5); */
    border-color: #d9001b;
    border-radius: 50%;
    font-weight: bold;
}

.css-icon-button-partner:hover {
    background: #d9001b;
    border-color: #d9001b;
}